{*{foreach $css as $sheet}
	<link rel = 'stylesheet' href = '{$basePath}/{$sheet}' />
{/foreach}*}
<link rel = 'stylesheet' href = '{$basePath}/temp/{$css}' />
<script src="{$basePath}/temp/{$js}"></script>
