parameters:

	appSettings:
		bank_token: "test_pjWdRaFKbMUgvdHHTMafwgtft3SFN5"

	apiSettings:
		url:
		token:
		test: off
		secret:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 10 hours
	savePath: '%tempDir%/session'
	gc_probability: 1
	gc_divisor: 1000

decorator:
	App\Model\Model:
		inject: on
	Nette\Application\UI\Control:
		inject: on
	App\Forms\FormComponent:
		inject: on



http:
	headers:
		X-Powered-By: off

tracy:
	bar:
		- App\Lib\ApiDebugBar


extensions:
	ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension

services:
	- App\Lib\ApiRepository(%debugMode%, %apiSettings%)
	- App\Lib\ApiDebugBar
	- App\Model\ModernTv(%appSettings%)

	- App\Components\CssJsLoaderFactory

	- App\Forms\RegistrationFormControlFactory
	- App\Forms\RecoverPasswordFormControlFactory
	- App\Forms\NewPasswordFormControlFactory
	- App\Forms\OrderFormControlFactory
	- App\Forms\TransactionHistoryControlFactory

	- App\Lib\LatteMacrosFactory
	- App\Forms\FormFactory

	cache:
		class: \Nette\Caching\Cache(@cacheStorage, "UGANDA")

	cacheStorage:
		class: Nette\Caching\Storages\FileStorage("%tempDir%/cache")

	router: App\RouterFactory::createRouter
